html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 900px;
  height: 100%;
}

.gamefield {
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 200px;
  max-height: calc( 100% - 70px );
  padding: 0 20%;
  box-sizing: border-box;
  background: #afafaf url(img/landscape.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0;
}

.field {
  display: inline-block;
  text-align: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.bubble {
  width: 30px;
  height: 50px;
  background: url(img/balloon.png) no-repeat center center;
  background-size: 100% auto;
/* плавный подьем в верх */
  transition: all 0.4s ;
  display: inline-block;
  position: relative;
  top: 100%;
}
/* если .bubble внутри .up */
.up > .bubble {
  top: 20px;
}

.drake {
  width: 40px;
  height: 40px;
  background: url(img/dragon02.gif) no-repeat center center;
  background-size: 100% auto;
/* плавный подьем в верх */
  transition: all 1s ;
  display: inline-block;
  position: relative;
  top: -20%;
}

.airplane {
  width: 40px;
  height: 60px;
  background: url(img/animal01.gif) no-repeat center center;
  background-size: 100% auto;
/* плавный подьем в верх */
  transition: all 4s;
  display: inline-block;
  position: relative;
  top: -40%;
  left:-40%
}

.down > .drake {
  top: 20px;
}

.skew > .airplane {
  top: 99%;
  left:20%;
  /* transform: rotate(180deg); */
  /* rotate: 180deg; */
}

.boom > .bubble,
.boom > .airplane,
.boom > .drake {
  background-image: url(img/boom.png);
}

 

header {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #ccc;
  font-size: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.startButton:hover {
  background-color: #ddd;
}
.playerboard::before {
  content: attr(data-points) ' ';
}
.timer {
  height: 30px;
  padding: 0 10px;
  margin-left: 10px;
  text-align: center;
  line-height: inherit;
  box-shadow: 0 0 1px #ccc;
}
footer {
  padding: 10px;
  text-align: center;
}